.nav-pills .nav-link {
    background-color: #303030;
    font-weight: bold;
    color: white;
}

.editor-topics{
    margin: 5px;
}

.editor-list{
    margin: 3px;
    background: #282828;
    color: white;
}

.editor-modules{
    padding-bottom: 100%;
}

.wbdv-return-from-editor {
    margin: 25px
}

.wbdv-course-title {
    font-size: 28px;
}

.wbdv-add-module {
    margin: 15px;
}
