.wbdv-navbar {
  background-color: LightSteelBlue;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.wbdv-navbar-title {
  font-size: 20px;
  margin-top: 5px;
}

.wbdv-create-float  {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.wbdv-clickable {
  cursor: pointer;
}

.wbdv-create-btn {
  color: red;
}

.wbdv-delete-btn {
  color: red;
  padding-right: 10px;
}

.wbdv-save-btn {
  color: green;
  padding-right: 10px
}

.wbdv-edit-btn {
  color: blue;
}
